<button mat-raised-button (click)="openDialog()">ADD Employee</button>
  <pre *ngIf="auth.userProfile$ | async as profile">
  <button mat-raised-button class="input-group-text upload"  (click)="upload(profile)" id="btnUpload">Upload CSV File</button>
  </pre>
  <div class="custom-file">
      <form action="/upload" method="post" enctype="multipart/form-data">
          <input (change)="fileChange($event)" type="file"  class="custom-file-input"  id="inputGroupFile01"  aria-describedby="inputGroupFileAddon01">
      </form>
  </div>
