<div>
    <div>   
        <h2>City Go</h2>
        <button routerLink="/employer">Back</button>
    </div> 
<h3>Add Employee</h3>
<div>
<label>Employee Name: <input type="text" name="employee_name"/></label> <br/>
<label>Employee Email: <input type="text" name="employee_email"/></label> <br/>
</div>
<button (click)="submit_employee_onClick()">Submit</button> <br/>
<div>
    <label>Bulk Add (CSV File): <input type="text" name="bulk_add_file"/></label> <br/>
</div>
<button (click)="submit_bulk_onClick()">Submit</button>
<button (click)="clear_onClick()">Clear</button>
</div>
