<mat-toolbar color="primary" class = "bottomSpacing">
<div class="inline">

    <!-- Not signed in-->
    <div class="inline" *ngIf="!auth.loggedIn">
        <a routerLink="/">Home</a>&nbsp;
        <button (click)="auth.login('city-go-admin')">Admin Login</button>&nbsp;
        <button (click)="auth.login('employer')">Employer Login</button>&nbsp;
    </div>
    
    <!-- Signed in-->
    <div class="inline" *ngIf="auth.userProfile$ | async as profile">
        <a routerLink="/">Home</a>&nbsp;
        <a routerLink="city-go-admin" *ngIf="profile['https://any-namespace/roles']=='admin'">Admin View</a>&nbsp;
        <a routerLink="employer">Employer View</a>&nbsp;
        <a routerLink="profile">Profile</a>&nbsp;
        <button (click)="auth.logout()">Log Out</button>&nbsp;
    </div>

</div>
</mat-toolbar>