<mat-toolbar color="primary" class = "bottomSpacing">
<div>
    <a routerLink="/">Home</a>&nbsp;

    <!-- Not signed in-->
    <button (click)="auth.login('city-go-admin')" *ngIf="!auth.loggedIn">Admin Login</button>&nbsp;
    <button (click)="auth.login('employer')" *ngIf="!auth.loggedIn">Employer Login</button>&nbsp;

    <!-- Signed in-->
    <a routerLink="city-go-admin" *ngIf="auth.loggedIn">Admin View</a>&nbsp;
    <a routerLink="employer" *ngIf="auth.loggedIn">Employer View</a>&nbsp;
    <a routerLink="profile" *ngIf="auth.loggedIn">Profile</a>&nbsp;
    <button (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>&nbsp;

</div>
</mat-toolbar>